Leverage ContentMD5 header if present

To validate downloaded file contents 

On PR #5, you commented:

> Maybe this could be complemented for even more strong download guarantees with #1 🤔

The complexity of getting this right is not worth the effort. What's more, the `Content-MD5` header ([RFC 1864](https://tools.ietf.org/html/rfc1864)) was designed as an additional check for problems that can occur with MIME mail. The [introduction section of RFC 1864](https://tools.ietf.org/html/rfc1864#section-1) lays out the problem statement:

> Despite all of the mechanisms provided by MIME which attempt to data from being damaged in the course of email transport, it is still desirable to have a mechanism for verifying that the data, once decoded, are intact. 

The complexity stems from the fact that the MD5 digest should be generated for some _canonical form_:

> In particular, this means that the sender applies the MD5 algorithm on the data immediately after conversion to canonical form, before applying any content-transfer-encoding, and that the receiver also applies the MD5 algorithm on the canonical form, after undoing any content-transfer-encoding.

For text, this has much to do with newline conversion (see [Appendix G of RFC 1521](https://tools.ietf.org/html/rfc1521#page-76)). However, this requires that the media type communicated in `Content-Type` is present and accurate so text types can be identified and converted to their canonical form (which in turn requires an up to date registry of MIME types in the client code). Not all web servers may communicate the media type and could be incorrect in the worst case, which would lead to false negatives about content integrity. You cannot even assume binary in the absence of a media type since it may lead to an incorrect digest if the _canonical form_ of the object is not used. A workaround would be to compute the digest assuming binary content and if the check passes then carry on. Otherwise compute and check the digest assuming text and applying canonical form rules; fail integrity check if this doesn't pass.

But never mind all that because [`Content-MD5` was deprecated in RFC 7231](https://tools.ietf.org/html/rfc7231#appendix-B):

> The Content-MD5 header field has been removed because it was inconsistently implemented with respect to partial responses.

See also httpwg/http-core#93 for background and discussion.

The better way forward is to go with [RFC 3230 (Instance Digests in HTTP)](https://tools.ietf.org/html/rfc3230) and request a digest via the `Want-Digest` header (preferring SHA-1):

    Want-Digest: sha

and then checking the integrity if a `Digest` header, like:

    Digest: sha=thvDyvhfIqlvFe+A9MYgxAfm1q5=

is present.

I also recommend issuing a warning to standard error when the content integrity check fails and field-testing for a few releases before hardening it into an error.


That's outstanding research and background info to improve on this suggestion. Thanks a lot @atifaziz! 

I just verified that github.com does not return the digest if requested in that way, so I'd say it's pointless to implement.

I'll close this then. 

Thanks again!